<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Me&amp;myBFFs</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>icon_MAMB09_0064.png</string>
				<string>icon_MAMB09_0320.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Me and my BFFs export data</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.funnestastrology.meandmyBFFs.mamb</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Me and my BFFS export data</string>
			<key>UTTypeIdentifier</key>
			<string>com.funnestastrology.meandmyBFFs.mamb</string>
			<key>UTTypeSize320IconFile</key>
			<string>icon_MAMB09_0320</string>
			<key>UTTypeSize64IconFile</key>
			<string>icon_MAMB09_0064</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>mamb</string>
				<key>public.mime-type</key>
				<string>Application/Me&amp;myBFFs</string>
			</dict>
			<key>public.filename-extension</key>
			<array>
				<string>mamb</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Me and my BFFS export data</string>
			<key>UTTypeIdentifier</key>
			<string>com.funnestastrology.meandmyBFFs.mamb</string>
			<key>UTTypeSize320IconFile</key>
			<string>icon_MAMB09_0320</string>
			<key>UTTypeSize64IconFile</key>
			<string>icon_MAMB09_0064</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mamb</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
